@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron jumbotron-fluid text-white text-center" style="background-image: url('https://w0.peakpx.com/wallpaper/960/362/HD-wallpaper-library-background-beautiful-library-book.jpg'); background-size: cover; background-position: center;">
    <div class="container">
        <h1 class="display-4">Welcome to Your Library Management System</h1>
        <p class="lead">Easily issue and return books within the return date.</p>
        <a href="/Book" class="btn btn-light btn-lg">Explore Books</a>
    </div>
</div>


<div class="container mt-5">
    <!-- Featured Authors Section -->
    <div class="row mb-5">
        <div class="col-12 text-center">
            <h3>Featured Authors</h3>
        </div>
        <div class="col-md-4 text-center">
            <img src="https://via.placeholder.com/150" class="img-fluid rounded-circle" alt="Author 1">
            <h4>Author Name 1</h4>
            <p>"Amazing books! A must-read."</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="https://via.placeholder.com/150" class="img-fluid rounded-circle" alt="Author 2">
            <h4>Author Name 2</h4>
            <p>"Incredible storytelling and characters."</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="https://via.placeholder.com/150" class="img-fluid rounded-circle" alt="Author 3">
            <h4>Author Name 3</h4>
            <p>"The best books I've ever read."</p>
        </div>
    </div>

  
    

    <div class="container mt-5">
        <!-- Most Popular Books Section -->
        <div class="row mb-5">
            <div class="col-12 text-center">
                <h3>Most Popular Books</h3>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="Book 1">
                    <div class="card-body">
                        <h5 class="card-title">Book Title 1</h5>
                        <p class="card-text">A thrilling adventure that will keep you on the edge of your seat.</p>
                        <a href="/Books/1" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="Book 2">
                    <div class="card-body">
                        <h5 class="card-title">Book Title 2</h5>
                        <p class="card-text">An inspiring story of resilience and determination.</p>
                        <a href="/Books/2" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="Book 3">
                    <div class="card-body">
                        <h5 class="card-title">Book Title 3</h5>
                        <p class="card-text">A captivating tale of love and loss.</p>
                        <a href="/Books/3" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        </div>




        <div class="jumbotron jumbotron-fluid bg-primary text-white text-center" style="height: 200px">
            <div class="container">
                <h1 class="display-4">Contributes University</h1>
            </div>
        </div>




        <div class="container mt-5" style="height:200px">
            <div class="row">
                <div class="col-12 text-center">
                    <h3>What Our Members Say</h3>
                </div>
            </div>
            <div id="testimonialCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active text-center">
                        <p class="lead">"BookNest has changed my reading habits for the better!"</p>
                        <h5>- Satisfied Member 1</h5>
                    </div>
                    <div class="carousel-item text-center">
                        <p class="lead">"A wonderful collection of books and fantastic service."</p>
                        <h5>- Satisfied Member 2</h5>
                    </div>
                    <div class="carousel-item text-center">
                        <p class="lead">"Highly recommended for all book lovers."</p>
                        <h5>- Satisfied Member 3</h5>
                    </div>
                    <!-- নতুন রিভিউ যুক্ত করা হয়েছে -->
                    <div class="carousel-item text-center">
                        <p class="lead">"The best library experience I've ever had!"</p>
                        <h5>- Satisfied Member 4</h5>
                    </div>
                    <div class="carousel-item text-center">
                        <p class="lead">"Great collection and very supportive staff!"</p>
                        <h5>- Satisfied Member 5</h5>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#testimonialCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#testimonialCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>



    

   


   
        <!-- Footer Section -->
       

   
</div>
